
.topbar{    background-color: rgb(49, 49, 49);
            overflow: hidden;
            width:  100%;
            height: 65px;
            border-radius: 1px 1px 10px 10px; 
            position: absolute;left:0;top:0 ;}


.topbar a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    font-size: 30px;
    text-decoration: none;}

.topbar a:hover{color:rgba(153, 245, 125, 0.788)}

.topbar a.active {color:rgb(43, 255, 0);}

body{
    background-color: 	rgb(107, 91, 149);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}


.starting{
    background-color: white;
    border-radius: 8px;
    box-shadow: 6px 6px rgba(0, 0, 0, 0.678);
    margin-top: 50px;
    margin-right: 20px;
    margin-left: 20px;
    padding: 10px;
    text-align: center;
    height: 600px;
    width:95%
    
}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 3px solidrgb(255, 255, 255)c;
    background-color: #ffffff;
    
  }
  
  /* Style the buttons that are used to open the tab content */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 20px;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: rgb(148, 219, 130);
    border-radius: 5px;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: rgb(30, 216, 5);
    border-radius: 5px;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid rgb(255, 255, 255);
    border-top: none;
    
  }


.grid-container {
  
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    background-color: rgb(202, 63, 63);
    height: 40%;
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.795);
    
  }


.result {
  grid-column-start: 1;
  grid-column-end: 4;
      
        }

#result {
float: left;
padding-left: 10px;
 
}

.divide{grid-column-start: 4;}

.equals{grid-column-start: 2;
        grid-row-start: 5;
        grid-column-end: 4;
}


.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 15px 0;
  font-size: 30px;
  border-radius: 9px;
  margin: 5px;
  font-family: fantasy;
  color: rgb(0, 0, 0);
  border-radius: 3px;
  cursor: pointer;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  box-shadow: 3px 3px rgb(0, 0, 0);
}


.grid-container2 {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  background-color: rgb(0, 0, 0);
  height: 400px;
  width: 400px;
   margin-left: 400px;
   margin-top: 10px;
  border-radius: 5px;
}

.grid-container2 > div {
  background-color: rgb(255, 255, 255);
  text-align: center;
  padding: 15px ;
  font-size: 70px;
  color: rgb(0, 0, 0);
  cursor: pointer;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
}

#topl{
 height: 100px;
 width: 100px;
 

}

#topm{
  height: 100px;
  width: 100px;

}

#topr{
  height: 100px;
  width: 100px;
 

}

#midl{
  height: 100px;
  width: 100px;
 

}

#midr{
  height: 100px;
 width: 100px;


}

#midm{
  height: 100px;
  width: 100px;
 

}

#lowl{
  height: 100px;
 width: 100px;


}

#lowm{
  height: 100px;
  width: 100px;
 
}

#lowr{
  height: 100px;
  width: 100px;
 

}




.menu_velha{float: left;}


.começar{
  height: 100px;
  width: 300px;
  font-size: 30px;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.76);
  border-radius: 4px;
  background-color: rgb(255, 242, 127);
  cursor: pointer;
}


#jogador_primeiro{

visibility: hidden;

}

#bot_primeiro{

  visibility: hidden;
  
  }

  #escolha_jogador{

    visibility: hidden;
    width: 300px;
    height: 100px;
    }


#vitoria{
  visibility: hidden;
  padding-right: 40px;
  margin-bottom: -20px;
  font-size: 50px;
  color: rgb(11, 207, 11);
  text-shadow: 2px 2px rgba(0, 0, 0, 0.596);

}

#derrota{
  visibility: hidden;
  padding-right: 40px;
  font-size: 50px;
  margin-bottom: -20px;
  color: rgb(207, 11, 11);
  text-shadow: 2px 2px rgba(0, 0, 0, 0.596);

}

#empate{

  visibility: hidden;
  font-size: 50px;
  padding-right: 40px;
  color: rgb(250, 184, 2);
  text-shadow: 2px 2px rgba(0, 0, 0, 0.596);

}

#resultados{


  float: right;
  
  height: 200px;
}


#b_primeiro{

  height: 40px;
  width: 120px;
  font-size: 25px;
  cursor: pointer;
  color: rgba(112, 252, 112, 0.897);

}

#b_segundo{

  height: 40px;
  width: 120px;
  font-size: 25px; 
  cursor: pointer; 
  color: rgb(255, 132, 132);


}

#igual{

background-color: red;
font-size: 40px;
visibility: hidden;
border-radius: 4px;

}



#nova_palavra_button{

height: 100px;
width: 150px;
font-size: 40px;
box-shadow: 5px 5px rgba(0, 0, 0, 0.76);
border-radius: rpx;
background-color: rgb(127, 229, 255);
cursor: pointer;
float: left;
grid-column-start: 1;

}



#entre{
  width: 150px;
  margin-left: -30px;
  font-size: 20px;
  grid-column-start: 2;

  
  }

#entrada{

height: 100px;
margin-left: -40px;
width: 60px;
font-size: 80px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
text-transform:uppercase;
grid-column-start: 3;
margin-top: 15px;

}


#osdois{
height: 100px;
grid-column-start: 4;
position: relative;
border: rgba(128, 128, 128, 0.288);
border-style: ridge;
}

#tentar{
height: 50px;
width: 150px;
font-size: 15px;


}

#guess{

  height: 20px;
  width: 100px;
  margin-left: -150px;
  position: absolute;
  bottom: 0;
  
}

#vidas{

  grid-column-start: 6;

}


#topbar{
  display: grid;
  grid-template-columns: auto auto auto;
  border-style: groove;
  border-color: black;
  padding: 3px;

height: 150px;


}

#forca_palavra {

  display: grid;
  grid-template-columns: auto auto auto;

  height: 150px;
  width: 1250px;
  

}

.forca_grid{

grid-row-start: 1;


}

#forca_palavra > div{

text-align: center;
font-size: 80px;
height: 100px;
width: 100px;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
margin: auto;
font-weight: 800;





} 

#forca_espaço1{

  text-transform: uppercase;
}

